# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Sébastien\Documents\UCLL\fase 1\2e semester\Webontwikkeling 2\2e poging\FinaalWeb2Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
